@import './base.css';

body {
  color: #272829;
}

#app {
  margin: 0 auto;
  height: 100dvh;

  font-weight: normal;
}

.container {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.border-radius-std {
  border-radius: 24px;
}

.card {
  padding: 1rem;
  align-items: center;
}

.card__title {
  font-size: 40px;
  line-height: 47px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex: 1;
}
.align-center {
  align-items: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.circle {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 100%;
}

.gradient-background {
  background: hsla(0, 0%, 95%, 1);
  /* https://coolors.co/gradient-maker/f1f1f1-ccdccf-f4d999?position=0,65,100&opacity=100,100,100&type=linear&rotation=130 */
  background: hsla(0, 0%, 95%, 1);

  background: linear-gradient(
    50deg,
    hsla(0, 0%, 95%, 1) 0%,
    hsla(131, 19%, 83%, 1) 72%,
    hsla(42, 81%, 78%, 1) 100%
  );

  background: -moz-linear-gradient(
    50deg,
    hsla(0, 0%, 95%, 1) 0%,
    hsla(131, 19%, 83%, 1) 72%,
    hsla(42, 81%, 78%, 1) 100%
  );

  background: -webkit-linear-gradient(
    50deg,
    hsla(0, 0%, 95%, 1) 0%,
    hsla(131, 19%, 83%, 1) 72%,
    hsla(42, 81%, 78%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1F1F1", endColorstr="#CCDCCF", GradientType=1 );
}
